.ui-page {
	background: #ffefba; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #ffffff, #ffefba); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to bottom,
		#ffffff,
		#ffefba
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.phone-input {
	margin: auto;
	width: 60%;
	padding: 10px;
}
.phone-input h3 {
	text-align: center;
}
.reminder-list {
	margin: auto;
	width: 60%;
	padding: 10px;
}
.reminder-list h3 {
	text-align: center;
}
.make-reminder {
	margin: auto;
	width: 60%;
	padding: 10px;
}
.contact {
	position: absolute;
	display: inline-block;
	text-align: right;
}
