body .ui-body-c {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}
.ui-page {
	background-color: #485461;
	background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
.phone-input {
	color: white;
	margin: auto;
	width: 60%;
	padding: 10px;
}
.phone-input h3 {
	color: white;
	text-align: center;
}
.reminder-list {
	color: white;
	margin: auto;
	width: 60%;
	padding: 10px;
}
.reminder-list h3 {
	color: white;
	text-align: center;
}
.make-reminder {
	color: white;
	margin: auto;
	width: 60%;
	padding: 10px;
}
.contact {
	color: white;
	position: absolute;
	display: inline-block;
	text-align: right;
}
.instruction {
	color: white;
	padding-top: 10px;
	text-align: center;
	align-items: center;
	list-style-position: inside;
}
